@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body#bootstrap-overrides {
	color: #ffffff;
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
	 background: #001933; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #001933); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #001933); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.datamap-subunits{
	margin:2% auto;
	height:100%;
	width:100%;
}
.container {
  max-width: 625px;
  margin: 12% auto;
  min-height: 100%;
}

h2, .TitleList .Title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 1em;
}

p {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 1em;
}

#renderPage-target {
	margin-top: 130px;
}

.Header {
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, black 0%, transparent 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, black 0%, transparent 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	/* IE6-9 */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 40px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	box-sizing: border-box;
	z-index: 5;
}
.pull-right {
	float: none;
	position:absolute;
	right:0;
	margin-right: 7%;
}
#add > header > div > div.row > div > div > label{
	color:#7e8c8d;
}
.account {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center
}

.account>.profile-pic {
    margin-right: 5px
}

.account>.details>p {
    margin: 0 0
}

.account>.details>.headline {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.account>.details>.username {
    font-size: 1.5rem;
    text-align: center;
	cursor: pointer;
}

.account>.logout {
    margin-left: 25px;
    padding:7px 10px;
}
.Logo {
	width: 151px;
	height: 41px;
	margin-right: 10px;
	-webkit-transition: margin .125s ease;
	transition: margin .125s ease;
}
.Logo svg {
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.Logo svg path {
	fill: #e50914;
	-webkit-transition: fill .125s ease;
	transition: fill .125s ease;
}
.sweet-alert input{
	color:black !important;
}
.Logo:hover {
	cursor: pointer;
	margin-top: 2px;
}
.Logo:hover svg path {
	fill: #ffffff !important;
}
.form-group {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.form-group input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.form-group input:focus{
  outline: 0;
}


.Navigation ul {
	display: -webkit-box;
	list-style: none;
	display: -ms-flexbox;
	display: flex;
	height: 37px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 10px;
	width:100%;
}
.Navigation ul li {
	font-weight: 400;
	padding: 7px 10px;
	font-size: 14px;
	-webkit-transition: background .125s ease;
	transition: background .125s ease;
	border-radius: 3px;
}
.listItems:hover {
	background: #e50914;
	cursor: pointer;
}
.logout:hover{
	background:#e50914;
	cursor:pointer;
	font-weight: 400;
	padding: 7px 10px;
	font-size: 14px;
	-webkit-transition: background .125s ease;
	transition: background .125s ease;
	border-radius: 3px;
}

.Search {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	pointer-events: none;
}
.Search input {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 14px;
	height: 37px;
	width: 60%;
	background: transparent;
	color: #ffffff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	border: 2px solid rgba(245, 245, 241, 0.1);
	outline: none;
	border-radius: 37px;
	padding: 0 10px;
	pointer-events: all;
	-webkit-transition: border .25s ease, width .125s ease .125s;
	transition: border .25s ease, width .125s ease .125s;
}
.Search input:focus {
	border: 2px solid #e50914;
	width: 70%;
}

.UserProfile {
	margin-left: auto;
}
.UserProfile .User {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.UserProfile .User .image {
	border-radius: 44px;
	margin-left: 10px;
	overflow: hidden;
	width: 44px;
	height: 44px;
	box-sizing: border-box;
	border: 3px solid transparent;
	-webkit-transition: border .125s ease;
	transition: border .125s ease;
}
.UserProfile .User .image img {
	width: 100%;
	display: block;
}
.UserProfile .User .name {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 18px;
	font-weight: 300;
	height: 44px;
}
.UserProfile .User:hover {
	cursor: pointer;
}
.UserProfile .User:hover .image {
	border: 3px solid #e50914;
}
.UserProfile .UserProfile-menu {
	display: none;
}

#bootstrap-overrides .Hero {
	width: 100%;
	background-size: cover;
	height: 100%;
	background-position: bottom;
	position:absolute;
	left:0;
	top:0;
}
.Hero .content {
	position: relative;
	z-index: 4;
	width: 500px;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	text-align: center;
	justify-content: center;
}
.Hero .content .logo {
	max-width: 400px;
	display: block;
	position: relative;
	left: -5px;
}
.Hero > div.content > div > a{
	margin-left: 45%;
}
.Hero .content p {
	width: 100%;
}
.Hero .content .button-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 400px;
	margin-top: 30px;
}
.Hero .content .button-wrapper .Button:first-child {
	margin-right: 10px;
}
.Hero .overlay {
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	/* IE6-9 */
	height:100%;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
#navigation > nav > ul > li > a{
	text-decoration: none;
	color: white;
}

.Button {
	background-color: #00bcd4 !important;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 44px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	color: #ffffff;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid rgba(245, 245, 241, 0.2);
	border-radius: 44px;
	font-size: 14px;
	font-weight: 600;
	-webkit-transition: border .125s ease, background .125s ease;
	transition: border .125s ease, background .125s ease;
}
.Button:hover {
	border: 2px solid #f5f5f1;
}
.Button[data-primary='true'] {
	border: 2px solid #e50914;
}
.Button[data-primary='true']:hover {
	background: #e50914;
}

.Hero ~ .TitleList:nth-child(3) {
	margin-top: -10vw;
	position: relative;
	z-index: 4;
}

.TitleList {
	padding: 20px 40px;
	box-sizing: border-box;
	-webkit-transition: opacity 3s ease;
	transition: opacity 3s ease;
	opacity: 0;
}
.TitleList .titles-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 20px 0;
	width: calc(100vw - 80px);
	box-sizing: border-box;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.TitleList[data-loaded='true'] {
	opacity: 1;
}

.Item {
	width: calc(20% - 10px);
	min-width: calc(20% - 10px);
	background-color: #000000;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	background-position: center;
	background-size: 100%;
	height: 200px;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-right: 10px;
	-webkit-transition: background 1s ease;
	transition: background 1s ease;
}
.Item:nth-child(n+6) {
	margin-top: 20px;
}
.Item:last-child {
	margin-right: 0;
}
.Item .overlay {
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	/* IE6-9 */
	padding: 20px;
	position: relative;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity .125s ease;
	transition: opacity .125s ease;
}
.Item .overlay .title {
	font-size: 22px;
	font-weight: 200;
	opacity: 0;
	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
}
.Item .overlay .rating {
	font-size: 14px;
	opacity: 0;
	-webkit-transition: opacity .25s ease .125s;
	transition: opacity .25s ease .125s;
}
.Item .overlay .plot {
	font-size: 14px;
	display: -webkit-box;
	margin-top: 100px;
	font-weight: 300;
	line-height: 1.6;
	opacity: 0;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: margin .25s ease .125s, opacity .25s ease .25s;
	transition: margin .25s ease .125s, opacity .25s ease .25s;
}
.Item:hover {
	background-size: 150%;
}
.Item:hover .overlay {
	opacity: 1;
	pointer-events: all;
}
.Item:hover .overlay .plot {
	margin-top: 10px;
	opacity: 1;
}
.Item:hover .overlay .title {
	opacity: 1;
}
.Item:hover .overlay .rating {
	opacity: 1;
}
.Item:hover .overlay .ListToggle {
	opacity: 1;
}

.ListToggle {
	border: 2px solid rgba(255, 255, 255, 0.2);
	width: 32px;
	height: 32px;
	font-size: 16px;
	border-radius: 32px;
	overflow: hidden;
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: 0;
}
.ListToggle:hover {
	border: 2px solid #ffffff;
}
.ListToggle:hover div {
	top: -32px;
}
.ListToggle[data-toggled="true"] {
	background: #e50914;
	border: 2px solid #e50914;
}
.ListToggle[data-toggled="true"] div {
	top: -32px;
}
.ListToggle div {
	position: absolute;
	top: 0;
	left: 0;
	height: 64px;
	width: 32px;
	-webkit-transition: .125s ease;
	transition: .125s ease;
}
.ListToggle div i {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 32px;
	width: 32px;
}

ul {
	margin: 0;
	padding: 0;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
li.question {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
li.option {
  position: relative;
  padding: 15px;
  list-style:none;
}
.Select-single{
	margin-top:5%;
	font-size:20px;

}
#react-root > div:nth-child(2) > div.sweet-alert > h2 > div > div{
	float: right !important;
	margin-left:80px !important;
	right:0;
	width:5% !important;
	position:absolute;
}
#render-target > div:nth-child(2) > div.sweet-alert > h2 > div > div > div{
	height:10px !important;

}
.cancel {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1.3em;
	border: none;
	position: absolute;
	cursor: pointer;
	right:0;
	top:0;
	color:lightgray;
	margin-right: 5%;
	margin-top:2%;
}
#hero > div.content > ul > li{
	position: relative;
	list-style: none;
	padding: 15px;
	border-bottom: #eee solid 1px;
}

li .text {
	margin-left: 10px;
}

li.checked {
	color: #888;
}

li.checked .text {
	text-decoration: line-through;
}

li.private {
	background: #eee;
	border-color: #ddd;
}

header .hide-completed {
	float: right;
}

.toggle-private {
	margin-left: 5px;
}

@media (max-width: 600px) {
	li {
		padding: 12px 15px;
	}

	.search {
		width: 150px;
		clear: both;
	}

	.new-task input {
		padding-bottom: 5px;
	}
}
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;top:30%;position:relative;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:darkgray;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px; color:black !important;
}
.text-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:left;background:whitesmoke;width:100%;color:black !important;
}
.msj{
    float:left;background:white;
}
.frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:relative;bottom:5px;width:100%;display:flex;
}

input:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}

.text input{
	color:black !important;
}
.answer{
	margin-top:5%;
	float:center;
	color:black;
}
.silver{
	color:silver;
}
.btn-primary.gradient {
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:active, .btn-primary.gradient.active {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}


.modal-body:not(.two-col) {
	padding:0px;
	color:black;
	position:relative;
}

#testBtnDown, #testBtn{
	width:40px;
	height:40px;
	margin: 0 5px;
}

.error{
	color:red;
	font-size: 15px;
}
#react-root > div:nth-child(2) > div.sweet-alert > p{
	display:none;
}
.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  width: 200px;
  background-color: transparent;
  color: #fff;
  height:50px;
  display:inline-block;
  margin-left:50%;
  transform: translate(-50%,0);
}
#add{
   max-width: 625px;
  margin: 12% auto;
  min-height: 100%;
  padding-top: 60px;
  width: 100%;
   border-top: 2px solid #aaa;
  box-shadow:  0 2px 10px rgba(0,0,0,0.8);
  z-index:1;
  
  font: 15px 'Segoe UI',Arial,sans-serif;
  background-color: #EAEBE5;
  height: auto;
  padding: 10px;
  color:#7e8c8d;
  outline:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.titleAsk{
	position:relative;
	text-align:center;
}

.question-list .row {
	color:black;
  margin-bottom: 0px;
}
.comment-user{
	font-size:30px;
}
.panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.right{
	 border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
  margin-right:1%;
}
.question-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.question-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .question-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .question-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .question-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .question-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .question-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .question-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}


.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 40px;
  padding: 0px 15px;
}
.post .post-heading .avatar {
  width: 45px;
  height: 45px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
  margin-top:5px !important;
  color:black !important;
}

.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 20px;
  color:black;
  margin-bottom:5px !important;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
#add > header > div > div:nth-child(6) > div > div > label{
	color:#555 !important;
}
.buttonActive {
  outline: 1px solid;
  border: 2px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 20px;
  text-shadow: 1px 1px 2px #427388; 
} 
.buttonActive.up{
	box-shadow: inset 0 0 100px rgba(0, 255, 0, .5), 0 0 20px rgba(0, 255, 0, .2);
}
.buttonActive.down{
	box-shadow: inset 0 0 100px rgba(255, 0, 0, .5), 0 0 20px rgba(0, 255, 0, .2);
}

.buttonInactive{
	background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
}

.listComments{
		position:relative;
} 	
.individualComment{
	position: absolute;
		-moz-transition-duration: 1s;
		-webkit-transition-duration: 1s;
		-ms-transition-duration: 1s;
	width:100%;
}
.panel-white{
	position:relative;
}
#navigation > div > div.sweet-alert > h2 > div > form > div:nth-child(2){
	color:grey;
}
#navigation > div > div.sweet-alert > h2 > div > form > div:nth-child(5){
	width:60%;
	margin-left:20%;
}
#navigation > div > div.sweet-alert > p > span > button{
	display:none;
}

#add > header > div > div:nth-child(4) > input{
	width:50%;
}

#add > header > div > div:nth-child(7) > div > input[type="checkbox"]{
	color:black;
}
#add > header > div > button{
	color:black;
}
label{
	color:		#696969  ;
}
button.submit{
	margin-top:2%;
}

.account{
	font-weight: 400;
	padding: 7px 10px;
	font-size: 14px;
	-webkit-transition: background .125s ease;
	transition: background .125s ease;
	border-radius: 3px;
}

.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px !important;
    border-radius:50px !important;
}

.fa-search { 
  position: absolute;
  top: 40px;
  left: 250px;
  font-size: 15px;
  color:lightgray;
  	cursor:pointer;

}
.newOption{
	color:white !important;
}
.stars{

}
.answer{
	font-size: 18px;
	width:80px;
}
#react-root > div:nth-child(2) > div.sweet-alert > h2{
	color:darkgray;
}